<main class="main flex flex-col gap-20 bg-base-background p-10">
  <app-project-page title="Mohamed&lt;Home&gt;" [Navbar]="true">
    <div class="container w-full h-full m-auto text-center flex flex-col gap-4">
      <p class="page-title">home</p>
      <p class="text-5xl text-base-neutral">
        Hi, I'm Mohamed <br />a <span class="text-code-green">Software Engineer</span>
      </p>
      <p class="text-xs w-1/2 m-auto">
        I bring value to web development projects by merging technical expertise with creativity and
        aesthetics
      </p>
    </div>
  </app-project-page>
  <app-project-page title="Mohamed&lt;About&gt;" [Navbar]="true">
    <div class="container h-full m-auto sm:ps-8 flex flex-col gap-4 sm:gap-0 ">
      <div class="flex flex-col sm:flex-row sm:justify-center items-center gap-4 sm:gap-0">
        <div class="sm:w-140 order-2 z-30">
          <app-project-section title="about-me">
            <div class="px-6 p-3">
              <ol class="list-decimal list-inside text-white text-xs space-y-1">
                <li>Hi, I'm <span class="text-code-green">Mohamed</span>, a <span class="text-code-blue">Fullstack</span> software engineer!</li>
                <li>My foucs is on <span class="text-code-red">creative development</span>: my skills can be described as the <span class="text-code-blue">meeting point</span> between <span class="text-code-yellow">creativity</span> and <span class="text-code-aqua">technical proficiency</span></li>
                <li>I intergrate complex but smooth animation and interactions into my projects, to present the website infromation in an engaging way and make it a memorable experience</li>
                <li>I strive to delive projects that are <span class="text-code-purple">visually compelling</span> by working closely with the designer, but also technically outstanding with <span class="text-code-green">clean and properly structed code</span>, All of this without forgetting about <span class="text-code-red">web performances</span> and <span class="text-code-blue">technical SEO</span> aspects</li>
                <li>I integrate the website with <span class="text-code-yellow">servers</span> through <span class="text-code-blue">apis</span> and setup <span class="text-code-green">database</span> to ensure the integrity and secured data</li>
              </ol>
            </div>
          </app-project-section>
        </div>
        <div class="order-1 sm:order-3 flex items-end sm:translate-y-20 -translate-x-3 z-40">
          <div class="w-40">
            <app-project-section title="portrait">
              <div class="w-full aspect-square">
                <img src="https://placehold.co/400" alt="" >
              </div>
            </app-project-section>
          </div>
        </div>
      </div>
      <div class="sm:flex justify-center">
        <div class="sm:w-80 -translate-y-2 sm:-translate-x-4 md:-translate-x-4 lg:-translate-x-16 z-30 ">
          <app-project-section title="about-me">
            <div class="px-3 p-3">
              <ol class="list-decimal list-inside text-white text-xs space-y-1">
                <li>Currently based in <span class="text-code-green">Digital Solution House</span>, as a <span class="text-code-blue">Fullstack</span> software engineer!</li>
                <li>Available for <span class="text-code-red">remote collaborations</span></li>
              </ol>
            </div>
          </app-project-section>
        </div>
        <div class="sm:w-120 sm:flex items-end sm:translate-y-14 sm:-translate-x-3 z-30">
          <app-project-section title="experience">
            <div class="px-3 p-3">
              <ol class="list-decimal list-inside text-white text-xs space-y-1">
                <li>Fullstack software engineer at <span class="text-code-green">Digital Solution House</span> From <span class="text-code-blue">June 2025</span> till <span class="text-code-blue">Present</span></li>
                <li>Fullstack software engineer at <span class="text-code-green">Apex mind Coders</span> From <span class="text-code-blue">July 2024</span> till <span class="text-code-blue">October 2024</span></li>
              </ol>
            </div>
          </app-project-section>
        </div>
      </div>
    </div>
  </app-project-page>
  <app-project-page title="Mohamed&lt;Projects&gt;" [Navbar]="true">
    <div class="p-8 grid lg:grid-cols-2 gap-8 items-center w-full relative z-40">
      <!-- Code Animation -->
      <div class="order-2 sm:order-1 w-full rounded-2xl ">
        <app-project-typing-component />
          <div class="flex gap-4 mt-4">
            <button
              class="w-1/3 py-4 rounded-lg font-semibold transition-all duration-200
                    bg-white text-black shadow-md
                    hover:shadow-lg hover:-translate-y-1
                    disabled:hover:translate-0
                    disabled:bg-gray-200 disabled:text-gray-400 disabled:shadow-none
                    enabled:cursor-pointer disabled:cursor-not-allowed"
              [disabled]="!projectService.getSelectedProject?.viewUrl"
            >
              VIEW
            </button>

            <button
              class="w-1/3 py-4 rounded-lg font-semibold transition-all duration-200
                    bg-white text-black shadow-md
                    disabled:hover:translate-0
                    hover:shadow-lg hover:-translate-y-1
                    disabled:bg-gray-200 disabled:text-gray-400 disabled:shadow-none
                    enabled:cursor-pointer disabled:cursor-not-allowed "
              [disabled]="!projectService.getSelectedProject?.githubUrl"
            >
              GITHUB
            </button>

            <button
              class="w-1/3 py-4 rounded-lg font-semibold transition-all duration-200
                    bg-white text-black shadow-md
                    hover:shadow-lg hover:-translate-y-1
                    cursor-pointer"
              (click)="openGallery()"
            >
              GALLERY
            </button>
          </div>
      </div>

      <!-- Project Details -->
      <div class="order-1 sm:order-2 flex justify-center">
        <app-project-section title="current-project" class="w-full">
          <div class="aspect-video overflow-hidden rounded-b-xl shadow-lg w-full">
            <img
              [src]="this.projectService.getSelectedProject?.projectSrc"
              class="w-full h-full object-cover"
            />
          </div>
        </app-project-section>
      </div>
    </div>
    <div class="w-full mt-8 relative z-40 px-8">
      <div class="flex gap-4 overflow-x-auto pb-2 scrollbar-thumb-code-green justify-center">
        @for (project of projectService.projects; track project.id) {
          <button
            class="shrink-0 cursor-pointer transition hover:scale-105"
            (click)="selectProject(project.id!)"
          >
            <img
              [src]="project.projectSrc"
              [alt]="project.name"
              class="w-40 h-24 rounded-lg object-cover border-2"
              [class.border-primary]="project.id === projectService.selectedProject()"
            />
          </button>
        }
      </div>
    </div>
  </app-project-page>
</main>

@if (isGalleryShown()) {
  <app-gallery-component
    (close)="closeGallery()"
  />
}

<router-outlet />
