/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
  --color-code-green: #91ff86;
  --color-code-blue: #4c81ed;
  --color-code-red: #e14e62;
  --color-code-yellow: #e1b74f;
  --color-code-purple: #845fed;
  --color-code-aqua: #f7a6e0;

  --color-base-background: #0f0f0f;
  --color-base-content: #7d7d7d;
  --color-base-border: #5a5a5a80;
  --color-base-neutral: #ffffff;

  --color-fa-icon: #888888;
}

@font-face {
  font-family: 'CodingFont';
  src: url('assets/fonts/GoogleSansCode-Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'CodingFont';
  src: url('assets/fonts/GoogleSansCode-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'CodingFont';
  src: url('assets/fonts/GoogleSansCode-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'CodingFont';
  src: url('assets/fonts/GoogleSansCode-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CodingFont';
  src: url('assets/fonts/GoogleSansCode-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

body {
  color: var(--color-base-content);
  font-family: 'CodingFont', sans-serif;
}

/* FontAwesome Icons */

.fa-icon {
  @apply hover:text-base-neutral text-fa-icon cursor-pointer;
}

.bar {
  border: solid 1px var(--color-base-border);
}

.cursor-pointer {
  cursor: pointer;
}

.page-title {
  @apply text-xs font-bold uppercase text-base-content;
}

.contact-icon {
  @apply flex items-center justify-center
         w-16 h-16
         rounded-full
         bg-zinc-800/70
         border border-zinc-700
         text-2xl
         transition-all duration-300
         hover:scale-110
         hover:border-code-green
         hover:shadow-lg;
}

.contact-icon fa-icon {
  font-size: 1.75rem;
}
